@model Focus_me.Entities.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/compressor")
}


<div class="container">

<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Kreirajte Vaš nalog</h4>
        <p>
            <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Ulogujte se putem Twitter-a</a>
            <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Ulogujte se putem facebook-a</a>
        </p>
        <p class="divider-text">
            <span class="bg-light">ili</span>
        </p>

        @using (Html.BeginForm("RegisterNewUser", "Users", FormMethod.Post, new { @enctype = "multipart/form-data", @id="registration-form", @redirect="/login" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ime naloga", @required="" } })
                @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                @Html.EditorFor(model => model.full_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ime i prezime", @required="" } })
                @Html.ValidationMessageFor(model => model.full_name, "", new { @class = "text-danger" })
            </div> <!-- form-group// -->
            <div class="form-group">
                <label for="profile_description">Opis profila</label>
                <textarea rows="6" style="width: 100%" id="profile_description" class="form-control" name="profile_description">

                </textarea>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                @Html.EditorFor(model => model.user_password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sifra", @type = "password", @required="" } })
                @Html.ValidationMessageFor(model => model.user_password, "", new { @class = "text-danger" })
            </div> <!-- form-group// -->

            <div class="form-group">
                <label>Profilna slika</label>
                <input type="file" accept=".jpg, .jpeg" id="user_image" name="user_image_blob" />
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Kreiraj nalog  </button>
            </div> <!-- form-group// -->
            <p class="text-center">Imate nalog? <a href="@Url.Action("Login", "Users", null, Request.Url.Scheme)">Ulogujte se</a> </p>
        }
    </article>
</div> <!-- card.// -->
    <script src="~/Scripts/Forms.js"></script>
    <script>
        validateAndSubmitForm("#registration-form");
        $("#user_image").on("change", function () {
            const file = this.files[0];
            if (file.type == "image/jpeg") {
                if (file.size > 3 * 1024 * 1024) {
                    alert("Previse veliki dokument");
                    return;
                }
                $("#registration-form button[type='submit']").prop("disabled", true);
                const fieldName = this.name;
                new Compressor(file, {
                    quality: 0.7,
                    convertSize: 0,
                    width: 200,
                    success(result) {
                        globalFile = true;
                        globalFiles.push({ name: fieldName, value: result });
                        $("#registration-form button[type='submit']").prop("disabled", false);
                    }
                })
                }
                else {
                    alert("tip dokumenta nije podrzan");
                    return;
                }
        })
    </script>
</div> 
<!--container end.//-->